asgiref==3.11.0
beautifulsoup4==4.14.3
Django==6.0.5
django-browser-reload==1.18.0
django-htmlmin==0.11.0
django-ratelimit==4.1.0
html5lib==1.1
pillow==11.3.0
python-decouple==3.8
six==1.17.0
soupsieve==2.8
sqlparse==0.5.4
typing_extensions==4.15.0
tzdata==2025.2
webencodings==0.5.1
