{% extends 'emails/email_base.html' %}

{% block email_subject %}
    Bonjour cher(e) client(e),
{% endblock email_subject %}

{% block email_body_p1 %}
    Une demande de réinitialisation de mot de passe a été effectuée.
{% endblock email_body_p1 %}
    
{% block email_body_p2 %}
    Veuillez cliquer sur le bouton ci-dessous pour réinitialiser votre mot de passe :
{% endblock email_body_p2 %}


{% block email_button_link %}{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}{% endblock email_button_link %}
    

{% block email_button_label %}
    Réinitialiser mon mot de passe
{% endblock email_button_label %}

{% block email_body_p4 %}
    Si vous n'avez pas fait cette demande, ignorez cet e-mail.
{% endblock email_body_p4 %}