{% extends 'base.html' %}



{% block content %}
<section class="container d-flex flex-column justify-content-center align-items-center p-5 mt-5 bg-white rounded-3 shadow-lg border border-1 border-success text-center" style="max-width: 400px;">
    <i class="fa fa-check-circle-o fs-1 text-success" aria-hidden="true"></i>
    <h2 class="fs-3 fw-bold text-dark mb-4">
        E-mail envoyé !
    </h2>
    <p class="text-muted fs-6 mb-6">
        Un email de confirmation vous a été envoyé à votre adresse. Veuillez vérifier votre boîte de réception pour réinitialiser votre mot de passe.
    </p>
    <a href="{% url 'accounts:login' %}" class="btn btn-success rounded-pill px-5 py-2 fs-5">
        Retourner
    </a>
</section>
{% endblock %}
