{% load static i18n %}
<!DOCTYPE html>
<html lang="{{current_language_key|default:"fr"}}">
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--bootstrap css-->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>{% block title %}{% endblock title %}</title>    

    {% block extra_head %}{% endblock extra_head %}     

</head>


<body data-bs-theme="light" class="overflow-x-hidden">

    {% include 'includes/navbar.html' %}
    
    {% include 'includes/components/toast.html' %}

    <!--main content-->
    <main>

        <h3 class="h4 text-primary text-center my-3">
             DEBUG: view resolver used is  
             <span class="badge bg-info fw-bold text-dark">{{ request.resolver_match.view_name }}</span> 
        </h3>

        {% block content %}
        
        {% endblock content %}


    </main>

    <!--hidden csrf for ajax-->
    {% csrf_token %}

    {% include 'includes/footer.html' %}

    <script src="{% static 'main.js' %}" defer></script>
    {% block extra_js %}{% endblock extra_js %}       
</body>


</html>
